.sistema{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sistema h1 {
    font-size: 20pt;
    text-align: center;
    position: relative;
    margin: 30px 0 10px 0;
    font-weight: 500;
}

.cards {
    display: flex;
    gap: 30px;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Gestor Matriz */
.card.red {
    background-color: #e7894c;
}
.card.blue {
    background-color: #4fbc49;
}
.card.green {
    background-color: #279d4f;
}

/* SH Online */
.card.azul {
    background-color: #3157ff;
}
.card.azul-claro {
    background-color: #0d41b2;
}
.card.azul-escuro {
    background-color: #043675;
}

/* App de Vendas */
.card.verde {
    background-color: #e7894c;
}
.card.verde-claro {
    background-color: #4fbc49;
}
.card.amarelo {
    background-color: #279d4f;
}

.cards .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 130px;
    width: 280px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 400ms;
}

.cards .card p.tip {
    font-size: 1.5em;
    font-weight: 700;
}

.cards .card p{
    margin: 0;
}

.cards .card p.second-text {
    font-size: 1em;
}

.cards .card:hover {
    transform: scale(1.1, 1.1);
}

@media only screen and (max-width: 1024px) {

    .cards{
        width: 100%;
        gap: 10px;
    }

    .cards .card {
        width: 30vw;
        height: 100px;
    }

    .cards .card p.tip{
        font-size: 1.3em;
    }

    .cards .card p.second-text {
        font-size: 1em;
    }

}

@media only screen and (max-width: 768px) {
    .cards{
        width: 100%;
        gap: 10px;
    }

    .cards .card {
        width: 30vw;
        height: 80px;
    }

    .cards .card p.tip{
        font-size: 1.1em;
    }

    .cards .card p.second-text {
        font-size: .9em;
    }
}

@media only screen and (max-width: 580px) {
    .cards{
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }

    .cards .card{
        width: 300px;
    }
}