main{
    width: 100%;
    height: 90vh;
}

.perfil-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #3f51b5;
    font-weight: 600;
}

app-perfil-form{
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.342);
}